<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<title>{% block title %}{% endblock %} - WebMine</title>
		{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="css/default.css">
		{% endblock %}
		<meta charset="UTF-8" />
	</head>
	<body>
		<header class="navbar navbar-fixed-top">
			<nav>
				<a href="/" class="brand"></a>
				<ul class="nav pull-right">
					<li><a href="/index.php">Web Mine</a></li>
					<li><a href="/file_upload.php">Envoyer un fichier</a></li>
					<li><a href="/show.php">Données</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>
		<div id="main" role="main">
			<section class="container">
				<div class="row">
					<div class="span8" id="content">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</section>
		</div>

	</body>
</html>